

body {
    
    font-size:19px;
    width: 100%;
    
    
    background-image: url("../images/Death-Star.PNG");
    
}

h1 {
    font-size: 25px;
    color: whitesmoke;
}
h3 {
    color: yellow;
}

p {
    text-decoration: none;
    color: white;
}

.attacker {
    font-size: 25px;
    color: rgb(0, 192, 192);
    background: grey;
    opacity: 0.3;
    width: 40%;
    height: auto;
    float: left;
}

.defender {
    font-size: 25px;
    color: rgb(192, 0, 80);
    background: grey;
    opacity: 0.3;
    width: 40%;
    height: auto;
    float: right;

}