

body {
    
    font-size:19px;
    width: 100%;
    
    
    background-image: url("../images/Death-Star.PNG");
    
}

h1 {
    font-size: 25px;
    color: whitesmoke;
}
h3 {
    color: yellow;
}

p {
    text-decoration: none;
    color: white;
}

